.myName {
    font-family: 'Give You Glory', cursive;
    text-align: center;
    font-size: 130px;
    margin-top: 550px;
    color: #F7F3EF;
    text-shadow: 4px 2px #F7F3EF;
  }
  
  .aboutMe {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    margin: 100px;
    color: #F7F3EF;
  }
  
  .leftCol {
    background-color: teal;
    background-image: url('https://assets.codepen.io/6520165/BlueJeanPocketColoredPencils.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
  }
  
  .rightCol {
    margin-top: 200px;
  }
  
  .nav-link {
    color: #F7F3EF;
  }
  
  .btn {
    background-color: #8F0064;
  }